html, body{
    margin:0;
    padding:0;
}

header {
    display: block;
    height:100px;
    width: 100%;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: red;
}

ul {
    width:60%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

li {
    display: block;
    height: 100%;
    width: 33.3333333333%;
    float: left;
    background-color: #222;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

li:hover {
    background-color: #09c;
    color: #222;
}
img {
    height: 200px;
    
}

.blackborder {
    border: 4px solid #222;
    box-sizing:border-box;
}

h1 {
    font-family: arial;
    font-size: 30px;
    color: #222; 
}

blockquote {
     border-left: 4px solid #888;
     padding-left: 5px;
     font-size: 20px;
     color: #477;
     max-width: 150px;
}

p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}

div {
    border: 2px solid #222;
    float:left;
    margin: 5px;
    
}

table {
    padding: 15px;
    width: 100%;
    border: 1px solid black;

}
td {padding-left: 15px;}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: lightgrey;}

a {
    text-decoration: none;
    color: #fff
}